@charset "UTF-8";

body{
	margin: 3% 3% 3% 3%;
	font-family: "helvetica";
}
.title {
	padding-top: 10%;
	padding-bottom: 40%;
	padding-left: 5%;
}

.font1 {
	
    color: #313131;
    font-size: 6vw;
    font-family: "helvetica";
    text-align: left;
	
}
	
.font2{
	display: block;
    color: #313131;
    font-size: 3.04vw;
    font-family: "helvetica";
    font-weight: lighter;
    text-align: left;
	padding-top: .01vw;
}

.numberleft {
	position: absolute;
	opacity: 0.3;
	display:inline-block;
	color: #00475A;
    font-size: 19vw;
    font-family: "helvetica";
	text-align: right;
	width: 50%;
	
}

.promptleft {
	display: inline-block;
	color: #313131;
    font-size: 3.04vw;
	font-family: "helvetica";
	text-align: right;
	width: 46%;
	padding-top: 12%;
	padding-bottom: 5%;
	
}

.column2of2{
	float: right;
	width: 40%;
	padding-right: 6%;
	padding-top: 4.3%;
	font-family: "helvetica";
	font-size: 100%;
	

}

	.breaker {
	padding: 150px;
	width: 10%;
		}

	.aFixedElement {
			position: fixed;
			top: 5%;
			background: #00475A;
			width: 45%;
			height: 90%;
			opacity: .5;
			margin-left: 50%;
	
		}

.numberright {
	position: absolute;
	opacity: 0.3;
	display:inline-block;
	color: #00475A;
    font-size: 19vw;
    font-family: "helvetica";
	text-align: left;
	float: right;
	
}

.promptright {
	display: inline-block;
	color: #313131;
    font-size: 3.04vw;
	font-family: "helvetica";
	text-align: left;
	padding-top: 8.5%;
	padding-left: 11.8%;
	padding-bottom: 5%
	
}

.essayright{
	width: 40%;
	float: left;
	text-align: right;
	padding-left: 9.2%;
	padding-right: 6%;
	padding-top: 4.3%;
	font-family: "helvetica";
	font-size: 15px;
}

.number3 {
	position: absolute;
	opacity: 0.3;
	display:inline-block;
	color: #00475A;
    font-size: 19vw;
    font-family: "helvetica";
	text-align: right;
	width: 47.2%;
	
}

.prompt3 {
	display: inline-block;
	color: #313131;
    font-size: 3.04vw;
	font-family: "helvetica";
	text-align: right;
	width: 38.1%;
	padding-top: 12%;
	padding-bottom: 5%;
	
}

.essay3{
	float: right;
	width: 40%;
	padding-right: 6%;
	padding-top: 4.3%;
	font-family: "helvetica";
	font-size: 100%;
}


.number5 {
	position: absolute;
	opacity: 0.3;
	display:inline-block;
	color: #00475A;
    font-size: 19vw;
    font-family: "helvetica";
	text-align: right;
	width: 47.2%;
	
}

.prompt5 {
	display: inline-block;
	color: #313131;
    font-size: 3.04vw;
	font-family: "helvetica";
	text-align: right;
	width: 38.1%;
	padding-top: 12%;
	padding-bottom: 5%;
	
}

.essay5{
	float: right;
	width: 40%;
	padding-right: 6%;
	padding-top: 4.3%;
	font-family: "helvetica";
	font-size: 100%;
}

.number6 {
	position: absolute;
	opacity: 0.3;
	display:inline-block;
	color: #00475A;
    font-size: 19vw;
    font-family: "helvetica";
	text-align: left;
	float: right;
	
}

.prompt6 {
	display: inline-block;
	color: #313131;
    font-size: 3.04vw;
	font-family: "helvetica";
	text-align: left;
	padding-top: 12.3%;
	padding-left: 11.8%;
	padding-bottom: 5%
	
}

.essay6{
	width: 40%;
	float: left;
	text-align: right;
	padding-left: 9.2%;
	padding-right: 6%;
	padding-top: 4.3%;
	font-family: "helvetica";
	font-size: 100%;
	

}


.number7 {
	position: absolute;
	opacity: 0.3;
	display:inline-block;
	color: #00475A;
    font-size: 19vw;
    font-family: "helvetica";
	text-align: right;
	width: 47.2%;
	
}

.prompt7 {
	display: inline-block;
	color: #313131;
    font-size: 3.04vw;
	font-family: "helvetica";
	text-align: right;
	width: 40.5%;
	padding-top: 12%;
	padding-bottom: 5%;
	
}

.essay7{
	float: right;
	width: 40%;
	padding-right: 6%;
	padding-top: 4.3%;
	font-family: "helvetica";
	font-size: 100%;
	

}

.number9 {
	position: absolute;
	opacity: 0.3;
	display:inline-block;
	color: #00475A;
    font-size: 19vw;
    font-family: "helvetica";
	text-align: right;
	width: 47.2%;
	
}

.prompt9 {
	display: inline-block;
	color: #313131;
    font-size: 3.04vw;
	font-family: "helvetica";
	text-align: right;
	width: 38.1%;
	padding-top: 12%;
	padding-bottom: 5%;
	
}

.essay9{
	float: right;
	width: 40%;
	padding-right: 6%;
	padding-top: 4.3%;
	font-family: "helvetica";
	font-size: 100%;
	

}

.number10 {
    position: absolute;
    opacity: 0.3;
    display: inline-block;
    color: #00475A;
    font-size: 19vw;
    font-family: "helvetica";
    text-align: left;
    float: right;
    letter-spacing: -3vw;	
}

.prompt10 {
	display: inline-block;
	color: #313131;
    font-size: 3.04vw;
	font-family: "helvetica";
	text-align: left;
	padding-top: 8.8%;
	padding-left: 20%;
	padding-bottom: 5%
	
}

.essay10{
	width: 40%;
	float: left;
	text-align: right;
	padding-left: 9.2%;
	padding-right: 6%;
	padding-top: 4.3%;
	font-family: "helvetica";
	font-size: 100%;
}

@media only screen and (max-width: 700px){
	
	.essayright{
	width: 40%;
	float: left;
	text-align: right;
	padding-left: 9.2%;
	padding-right: 6%;
	padding-top: 4.3%;
	font-family: "helvetica";
	font-size: 15px;
}
	
	.column2of2{
	float: right;
	width: 40%;
	padding-right: 6%;
	padding-top: 4.3%;
	font-family: "helvetica";
	font-size: 15px;
	

}
	
.essay3{
	float: right;
	width: 40%;
	padding-right: 6%;
	padding-top: 4.3%;
	font-family: "helvetica";
	font-size: 15px;
}	
	
.essay5{
	float: right;
	width: 40%;
	padding-right: 6%;
	padding-top: 4.3%;
	font-family: "helvetica";
	font-size: 15px;
}	
	
.essay6{
	width: 40%;
	float: left;
	text-align: right;
	padding-left: 9.2%;
	padding-right: 6%;
	padding-top: 4.3%;
	font-family: "helvetica";
	font-size: 15px;
	

}

.essay7{
	float: right;
	width: 40%;
	padding-right: 6%;
	padding-top: 4.3%;
	font-family: "helvetica";
	font-size: 15px;
	

}	

.essay9{
	float: right;
	width: 40%;
	padding-right: 6%;
	padding-top: 4.3%;
	font-family: "helvetica";
	font-size: 15px;
	

}

.essay10{
	width: 40%;
	float: left;
	text-align: right;
	padding-left: 9.2%;
	padding-right: 6%;
	padding-top: 4.3%;
	font-family: "helvetica";
	font-size: 15px;
}
	
}
	
