@charset "UTF-8";
body {
    background: #d7d7d7;
    float: right;
	padding-top: 200px;
	padding-right: 30px;
	
}
	
input {
	  background-color: #fff;
    border-radius: 15px;
    width: 100px;
    height: 80px;
    float: right;
    font-size: 18px;
    margin-bottom: 15px;
    margin: 10px;
   font-family: 'Roboto Condensed', sans-serif;
    text-align: right;
	

}

#display {
    width: auto;
    height: 100%;
    font-size: 161px;
    float: right;
    background-color: #d7d7d7;
    border: none;
    font-family: 'Roboto Condensed', sans-serif;
    margin-top: 150px;
    padding-top: 0px;
    margin-right: 50px;
    top: 0%;
    clear: right;
    font-weight: 600;
}
	
#Ramscalculator #numbers {
	width: auto;
	height: auto;
	
}
#Ramscalculator #top_display {
    display: inline-block;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    width: 0px;
    float: left;
    clear: none;
}


.operator{
    background-color: #d7d7d7;
    border: none;
    text-align: center;
}

.button{
    padding-top: 40px;
    padding-right: 10px;
	border: none;
}
#numbers .inputRow4 .button {
	width: 220px;
}


#numbers .inputRow4 .dec {
    padding-top: 40px;
    padding-right: 10px;
    border: none;
}

#clear {
	color: black;
	
	/* transition properties */
	background:#d7d7d7;
	transition-property: ;
  	transition-duration: ;
  	transition-timing-function: ;
  	transition-delay: ;
	
}

#clear:hover {
	background:#d84232;
	color: white;
	
	
}
.by {
    padding-top: 190px;
    text-align: right;
    float: right;
    padding-right: 55px;
	color: #494949
	
}

